body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Roboto;
	color:#333;
	background-image: url("image/background-image.png");
}
.genel{
	width:980px;
	margin:0 auto;
}
.header{
	width:100%;
	height:80px;
	background-color:#262626;
	
}
.logo{
	float:left;
	padding-top:17px;
	padding-left:20px;	
}
.menu{
	float:right;
	
}
.menu ul{
	padding:0px;
	margin:0px;
	padding-top:20px;
	padding-right:30px;
}
.menu ul li{
	list-style-type:none;
	float:left;
}
.menu ul li a{
	display:block;
	color:#fff;
	padding:20px;
	text-decoration:none;
}
.menu ul li a:hover{
color:#ea6660
}
.sidebar{
	width:200px;
	height:auto;
	background-color:#e4e4e4;
	float:left;
	padding:10px;
	
	
}
#resimhakkimda{
	width:50px; height:50px; margin: 10px 20px 0 0; float:left;}
#resimicerik{
	width:440px; height:auto; float:left;}
#soruekle{
	font-size:14px;
	text-align: left;
	margin-top:-20px;
	margin-bottom:10px;
	width:510px;
	float:left;
	padding-left:20px;
}
#alan{
	width:100px; height:50px; float:left; margin-top:10px;
}
#alan2{
	width:auto; height:60px; float:left; margin-top:-6px;
}

#newElementZone{
	width:auto; height:100px; 
}
#orta14{
	width:760px; height:50px; 
}
#deneme{
	width:161px; height:auto;
	background-color:#ff25ff;
	margin-top:40px;
	
}
#textarea{
	float:left;
	margin-top:5px;
	margin-right:10px;
}

#button{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	float:left;
}
#textForNewElement{
	margin-right:20px;
	margin-left:100px;
	margin-top:20px;
}





.sidebar ul{
	padding:0px;
	margin:0px;
}
.sidebar ul li{
	list-style-type:none;

}
.sidebar ul li a{
	border-bottom:1px solid #d1d1d1;
	display:block;
	color:#333;
	padding:5px;
	text-decoration:none;
	font-weight:bolder;
}
.sidebar ul li a:hover{
	background:#d1d1d1;
	border-bottom:1px solid #333;
}
.icerik{
	float:left;
}
.icerik-kutu{
	margin-top:40px;
	margin-left:15px;
	width:745px;
	height:200px;
	line-height:25px;
	
}
.icerik-kutu img{
	float:left;
}
.icerik-detay{
	font-size:14px;
	text-align: left;
	margin-top:-20px;
	width:510px;
	float:left;
	padding-left:20px;
}
.icerik-detay1{
	width:510px;
	float:left;
	padding-left:92px;
	font-size:14px;
	text-align: left;
	padding-bottom:30px;
}
.icerik-kutu1{
	margin-top:60px;
	margin-left:15px;
	width:745px;
	height:200px;
	line-height:25px;
	
}
#uyelik_formu{
    padding: 10px;
    width: 390px;
    border: 1px solid black;
}  
label{          
    float: left;
    width: 150px;
}
a.sayfaicilink{
	font-weight: bold;
	color: black;
	font-style: oblique;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: baseline;
}
a.sayfaicilink:hover {
 
font-weight: bold;
color: maroon;
font-style: oblique;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
vertical-align: baseline;
}



